#colophon {
	color: #fff;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: .7125em;
	line-height: 1.2;

	& .wrapper:before, & .wrapper:after {
		@include clearfix;
	}

	& .wrapper:after {
		@include clearfix-after;
	}

	.footer-callout {
		font-family: $_font-main-semibold;

		h4 {
			margin: .5em 0;
			font-weight: normal;
		}

		svg#eho {
			color: #fff;
			width: 35px;
			height: 34px;
			// margin-top: .75em;
		}
	}

	@include respond-to(med) {
	    .wrapper {
	    	@include padding-left-right;
	    	max-width: none;
	    	display: flex;
	    	justify-content: space-between;
	    	padding-top: .5em;
	    	padding-bottom: 1em;

	    	.contact-info {
	    		text-align: left;
	    	}

	    	.footer-callout {
	    		text-align: right;
	    		display: inline-flex;
	    		margin-left: auto;

	    		h4 {
	    			margin-right: 1em;
	    		}
	    	}
	    }
	}

}