#masthead {
	font-family: $_font-main-bold;
	background-color: $_color-brand-color-1;
	color:#fff ;
	padding: 0 10px;
	text-align: center;

	svg {
		display: block;
		height: auto;
		margin: 0 auto;
	}

	.logo {
		padding-top: .5em;

		svg {
			max-width: 100px;
		}

	}

	.social {
		padding: 1em 0 .5em;

		.callout {
			padding: .5em 1em;
			background-color: $_color-brand-color-4;
		}

		.email {

			a {
				color: #fff;
				font-family: $_font-raleway-semibold;
				font-size:  0.9rem;
				text-decoration: none;
			}
		}

		.icons {
			width: 100%;
			display: inline-flex;
			justify-content: center;
			align-items:center;
			margin-top: .5em;

			.instagram {
				margin: 0 2px;
				svg {
					max-width: 30px;
				}
			}

			.facebook {
				margin: 1px 2px 2px;
				svg {
					max-width: 30px;
				}
			}
		}
	}

	@include respond-to(small) {
		padding-top: 5px;
		padding-left: 20px;
		padding-right: 20px;
		display: flex;
		justify-content: space-between;
		// align-content:flex-start;

		.logo {
			svg {
				max-width: 150px;
			}
		}

		.social {
			padding-top: 0;

			.callout {

			}

			.social-wrapper {
				display: inline-flex;
				align-items: flex-end;

				.email {
					padding-right: 1em;

				}

				.icons {

				}
			}
		}
	}

	@include respond-to(large) {
	    // padding: 0 30px;
	}
}