@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Bold.otf')  format('opentype'),
         url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.ttf')  format('truetype'), url('../fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-Regular.otf')  format('opentype'),
         url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf')  format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Montserrat-SemiBold.otf')  format('opentype'),
         url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.ttf')  format('truetype'), url('../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Bold.otf')  format('opentype'),
         url('../fonts/Raleway-Bold.woff') format('woff'), url('../fonts/Raleway-Bold.ttf')  format('truetype'), url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Medium.otf')  format('opentype'),
         url('../fonts/Raleway-Medium.woff') format('woff'), url('../fonts/Raleway-Medium.ttf')  format('truetype'), url('../fonts/Raleway-Medium.svg#Raleway-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Raleway-Regular.otf')  format('opentype'),
         url('../fonts/Raleway-Regular.woff') format('woff'), url('../fonts/Raleway-Regular.ttf')  format('truetype'), url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
    @include font-size(1);
    line-height: 1.5625;

    @include respond-to(small) {
        @include font-size(1.225);
    }

    @include respond-to(med) {
        @include font-size(1.35);
    }

    @include respond-to(large) {
        @include font-size(1.5);
    }
}

body {
    color: $_color-text-screen;
    font-family: $_font-main;
}

input,
select,
button,
textarea {
    font-family: $_font-raleway-bold;
    color: #333;
}

h1, h2 {
    margin: 0;
    font-weight: normal;
    font-family: $_font-main-semibold;
    letter-spacing: 1px;
}

h1 {
    font-size: 1.75em;
    line-height: 1.0625;

    // @include respond-to(small) {
    //     font-size: 2em;
    // }

    // @include respond-to(large) {
    //     font-size: 2.5em;
    // }
}

h2 {
    font-size: 1.3em;
    line-height: 1.125;
}

// p {
//     font-size: .9375em;
// }
