/* Colors */
$_color-brand-color-1: #005F83;
$_color-brand-color-2: #000;
$_color-brand-color-3: #888B8D;
$_color-brand-color-4: #8a2a2b;

$_color-text-screen: #333;
$_color-border-input:#FFF;

$color_background-button: $_color-brand-color-4;

/* Fonts */
$_font-main: 'Montserrat-Regular', sans-serif;
$_font-main-bold: 'Montserrat-Bold', sans-serif;
$_font-main-semibold: 'Montserrat-SemiBold', sans-serif;

$_font-raleway: 'Raleway-Regular', sans-serif;
$_font-raleway-semibold: 'Raleway-Medium', sans-serif;
$_font-raleway-bold: 'Raleway-Bold', sans-serif;